
informatik_sem2/boolean_algebra_tools/__pycache__/
informatik_sem2/boolean_algebra_tools/McCluskey/__pycache__/

informatik_sem2/__pycache__/
informatik_sem2/finite_state_machines/__pycache__/
informatik_sem2/finite_state_machines/goedel/__pycache__/
build/
informatik_sem2.egg-info